@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --fundo-card: #1b2226;
    --fundo-pagina: #000000;
    --transparent: transparent;
    --primario: #70b5f9;
    --texto-primario: #ffffff;
    --texto-secundario: #a4a7a8;
    --texto-escuro: #373737;
    --input: #38434f;

    --font-primaria: 'Roboto',Helvetica, Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-primaria);
}

